################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BlogSystem/.vs/BlogSystem
/BlogSystem/BlogSystem.BLL/bin/Debug
/BlogSystem/BlogSystem.BLL/obj
/BlogSystem/BlogSystem.DAL/bin/Debug
/BlogSystem/BlogSystem.DAL/obj
/BlogSystem/BlogSystem.Dto/bin/Debug
/BlogSystem/BlogSystem.Dto/obj
/BlogSystem/BlogSystem.IBLL/bin/Debug
/BlogSystem/BlogSystem.IBLL/obj
/BlogSystem/BlogSystem.IDAL/bin/Debug
/BlogSystem/BlogSystem.IDAL/obj
/BlogSystem/BlogSystem.Models/bin/Debug
/BlogSystem/BlogSystem.Models/obj
/BlogSystem/BlogSystem.MVCSite/bin
/BlogSystem/BlogSystem.MVCSite/obj
/BlogSystem/packages
